.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.shape {
}
.line {
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.image {
}
.button {
}
.icon {
}
.box_11 {
}
.connector {
}
._图片 {
}
.box_21 {
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.menu_item {
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.ellipse {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.sticky_3 {
  text-align:left;
}
.droplist1 {
  color:#000000;
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.table_cell1 {
  text-align:left;
}
.line1 {
}
.primary_button1 {
  color:#FFFFFF;
}
.table {
}
.placeholder1 {
}
.default_button {
}
.sticky_31 {
  text-align:left;
}
._连接线 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.checkbox1 {
  text-align:left;
}
.box_4 {
  color:#FFFFFF;
}
.sticky_1 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.connector1 {
}
.list_box1 {
  color:#000000;
  text-align:left;
}
.sticky_41 {
  text-align:left;
}
.sticky_11 {
  text-align:left;
}
.image2 {
}
.shape1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
